.navBarTitle {
  font-family: "ProCrastinatingPixie";
  font-size: 2.5rem;
}

.navbarContainer {
  margin: 1rem;
  border-radius: 10px;
}

.searchBar {
  margin-right: 10px;
  height: 40px;
  border-color: #6c757d;
}

.btnHam{
  border-color: #6c757d;
}