.carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 20px;
}
.emptycart {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #f5f5f5;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
}

.emptycart h3 {
  font-family: "LexendDeca";
  font-size: 30px;
  color: #000;
  text-align: center;
  padding-top: 30px;
}

.emptycart img {
  align-self: center;
  height: auto;
  width: 200px;
}

.emptycart p {
  font-family: "LexendDeca";
  font-size: 30px;
  color: rgb(200, 0, 0);
  text-align: center;
  padding-bottom: 30px;
}

.emptycart p a {
  color: unset;
}

.carrito .carritoHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.carrito .carritoHeader img {
  width: 150px;
  height: fit-content;
}

.carrito .carritoHeader h2 {
  padding: 20px;
  font-family: "LexendDeca";
  font-size: 50px;
  color: #000;
  text-align: center;
}

.carrito .carritoHeader p {
  font-family: "LexendExa";
  font-size: 20px;
  color: #5d5d5d;
  text-align: center;
}

.carrito .containerTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.carrito .containerTable .emptycart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
}

.carrito .containerTable .emptycart h3 {
  font-family: "LexendDeca";
  font-size: 30px;
  color: #000;
  text-align: center;
  padding-top: 30px;
}

.carrito .containerTable .emptycart img {
  height: 200px;
}

.carrito .containerTable .emptycart p {
  font-family: "LexendDeca";
  font-size: 30px;
  color: rgb(200, 0, 0);
  text-align: center;
  padding-bottom: 30px;
}

.carrito .containerTable .emptycart p a {
  color: unset;
}

.carrito .containerTable table thead {
  font-family: "LexendDeca";
  font-size: 30px;
  color: #000;
  text-align: center;
  background-color: #D9D9D9;
  border-radius: 10px 10px 0 0;
}

.carrito .containerTable table thead th {
  padding: 15px;
}

.carrito .containerTable table thead th:first-child {
  border-top-left-radius: 10px;
}

.carrito .containerTable table thead th:last-child {
  border-top-right-radius: 10px;
}

.carrito .containerTable table tbody {
  font-family: "LexendExa";
  font-size: 20px;
  color: #000;
  text-align: center;
}

.carrito .containerTable table tbody tr td {
  padding: 10px;
}

.carrito .containerTable table tbody td {
  padding: 10px 0 10px 10px;
  text-align: center;
}

.carrito .containerTable table tbody td p {
  font-family: "LexendExa";
  font-size: 15px;
  color: #000;
  text-align: justify;
}

.carrito .containerTable table tfoot {
  font-family: "LexendDeca";
  font-size: 20px;
  color: #000;
  text-align: left;
  background-color: #D9D9D9;
}

.carrito .containerTable table tfoot td {
  padding: 10px 0 10px 10px;
  text-align: left;
}

.carrito .containerTable table tfoot td p {
  font-family: "LexendExa";
  font-size: 15px;
  color: #000;
  margin: 0;
}
.totalPrice{
  font-size: 1.5rem;
}
.carrito .containerTable table tfoot .checkoutBtnContainer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.carrito .containerTable .productTable {
  width: 1000px;
}

.carrito .containerTable .productTable .productsContainer th:first-child {
  width: 60%;
}

.carrito .containerTable .productTable .productsContainer td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  height: 260px;
}

.carrito .containerTable .productTable .productsContainer td h4 {
  font-family: "LexendExa";
  font-size: 20px;
  color: #000;
  text-align: left;
}

.carrito .containerTable .productTable .productsContainer td p {
  font-family: "LexendExa";
  font-size: 15px;
  color: #5d5d5d;
  text-align: justify;
}

.carrito .containerTable .productTable .productsContainer td img {
  height: 150px;
  width: fit-content;
  max-width: 250px;
}

.carrito .containerTable .productTable .productsContainer td button {
  background-color: #F5F5F5;
  border: none;
  border-radius: 5px;
  color: #555;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
}
.resumeTable tbody tr td {
  text-align: left !important;
}

.carrito .containerTable .productTable .productsContainer td button:hover {
  background-color: #ddd;
}
.cleanBtn{

  font-size: 1.2rem;
  color: #fff;
  width: 100%;
  background: #000;
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin-top: 5px;
}
.carrito .containerTable .productTable .productsContainer td .quantity {
  text-align: center;
  margin: 0 10px;
}

.carrito .containerTable .productTable .productsContainer .description button {
  display: flex;
  color: #F00;
  background-color: unset;
  padding: 0;
}

.carrito .containerTable .productTable .productsContainer .description button img {
  height: 25px;
  width: auto;
}

.carrito .containerTable .productTable .productsContainer .description div:hover {
  cursor: pointer;
}

.carrito .containerTable .productTable .productsContainer td:last-child {
  font-weight: bold;
 text-align: center;
}

.carrito .containerTable .resumeTable {
  width: 400px;
  height: 300PX;
}

.carrito .containerTable .resumeTable tr {
  text-align: left;
}

.carrito .containerTable .resumeTable .checkoutBtnContainer {
  text-align: center;
  padding: 10px;
  height: 80px;
}

.carrito .containerTable .resumeTable .checkoutBtnContainer .checkoutBtn {
  width: 100%;
  background-color: #DF0000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.carrito .containerTable .resumeTable .checkoutBtnContainer .checkoutBtn:hover {
  background-color: #ff4747;
}
